.service-detail-modal {
  p {
    margin: 0;
  }

  .modal-title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;
    margin: 0;
    margin-bottom: 0.5rem;
  }

  .modal-description {
    color: #707888;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 1.4rem;
  }

  .versions {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 24px;
  }

  .version-list {
    list-style: none;
    padding: 0;

    & > li:not(:first-child) {
      border-top: 1px solid #f1f1f5;
    }
  }

  .left-content {
    align-items: start;
    display: flex;
    flex-direction: column;
  }

  .metadata-container {
    display: flex;
    gap: 5rem;
    @media only screen and (max-width: 600px) {
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
}